/* style.css */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
}

/* Header */
header {
    background-color: #F75DB1;
    padding: 50px 20px; /* Zmieniliśmy wysokość paddingu z 20px na 10px */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo z ikoną */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    height: 40px;
    width: auto;
}

/* Menu przesunięte w prawo */
nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    padding-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

/* Odstęp dla 1. sekcji */
#home.section {
    padding-top: 160px; /* więcej niż wysokość headera */
}

.section {
    min-height: 80vh; /* Zmieniamy to na 70vh */
    margin: 120px auto;
    max-width: 900px;
    background-color: #F75DB1;
    border-radius: 20px;
    padding: 60px 30px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.section p {
    font-size: 20px;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
}

button {
    margin-top: 30px;
    padding: 12px 24px;
    background-color: black;
    color: #F75DB1;
    font-weight: bold;
    border: 2px solid #F75DB1;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: auto;  /* Możesz dodać szerokość jeśli chcesz */
    max-width: 250px; /* Nowa szerokość przycisku */
}


button:hover {
    background-color: #D9D9D9;
    color: black;
    transform: scale(1.05);
    font-size: 17px;
}


#successMsg {
    margin-top: 12px;
    font-size: 16px;
    color: green;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: #D9D9D9;
}

.header-spacer {
    height: 300px;
}

